

@model Bowler

<h3>Are you sure you want to delete the record for @Model.BowlerFirstName @Model.BowlerLastName?</h3>
<form method="post">
    <input type="hidden" asp-for="BowlerID" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-controller="Home" asp-action="Bowlers" class="btn btn-primary">Cancel</a>
</form>
